.elementor-32 .elementor-element.elementor-element-52d88f9f{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-32 .elementor-element.elementor-element-5830da > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-32 .elementor-element.elementor-element-2fbbeeb4{text-align:center;}.elementor-32 .elementor-element.elementor-element-2fbbeeb4 .elementor-heading-title{font-size:30px;font-weight:600;letter-spacing:-0.5px;}.elementor-32 .elementor-element.elementor-element-2fbbeeb4 > .elementor-widget-container{padding:30px 30px 30px 30px;background-color:#f1f1f1;border-radius:0px 0px 0px 0px;}.elementor-32 .elementor-element.elementor-element-7fe2b5ce{margin-top:0px;margin-bottom:0px;padding:0px 35px 0px 35px;}.elementor-32 .elementor-element.elementor-element-180a10a8 > .elementor-element-populated{padding:0px 80px 0px 0px;}.elementor-32 .elementor-element.elementor-element-cfc2705 .coneblog-widget-head{border-color:#f6ce2b;}.elementor-32 .elementor-element.elementor-element-cfc2705 .coneblog-widget-head h3{background-color:#f6ce2b;color:#000000;}.elementor-32 .elementor-element.elementor-element-cfc2705 .coneblog-posts-classic .item-meta .post-title a{color:#333333;}.elementor-32 .elementor-element.elementor-element-cfc2705 .coneblog-posts-classic .item-meta .post-title a:hover{color:#f6ce2b;}.elementor-32 .elementor-element.elementor-element-cfc2705 .coneblog-posts-classic .list-item .list-meta-info{color:#555555;}.elementor-32 .elementor-element.elementor-element-cfc2705 .coneblog-posts-classic .list-item .list-meta-info a{color:#555555;}.elementor-32 .elementor-element.elementor-element-cfc2705 .coneblog-posts-classic .list-item .list-meta-info i{color:#555555;}.elementor-32 .elementor-element.elementor-element-cfc2705 .coneblog-posts-classic .list-item .grid-post-term span.term-icon{background-color:rgba(0, 0, 0, 1);color:rgba(255, 255, 255, 1);}.elementor-32 .elementor-element.elementor-element-cfc2705 .coneblog-posts-classic .list-item .grid-post-term span.term-name{background-color:#f6ce2b;color:#000000;}.elementor-32 .elementor-element.elementor-element-73ef4fdd > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-posts-slider.layout-1 .item{height:450px;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-posts-slider .coneblog-slider .item .item-meta h3 a{color:#FFFFFF;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-posts-slider .coneblog-slider .item .item-meta h3 a:hover{color:#f6ce2b;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-slider .item .extra-meta .meta-info{color:#FFFFFF;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-slider .item .extra-meta .meta-info a{color:#FFFFFF !important;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-slider .item .extra-meta .meta-info i{color:#FFFFFF;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-posts-slider .coneblog-slider .item .item-meta h3{text-align:center;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-posts-slider .coneblog-slider .item .post-desc{text-align:center;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-slider .item .grid-post-term span.term-icon{background-color:rgba(0, 0, 0, 1);color:rgba(255, 255, 255, 1);}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-slider .item .grid-post-term span.term-name{background-color:#f6ce2b;color:#000000;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-slider .owl-prev{color:#FFFFFF !important;background:#000000 !important;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-slider .owl-next{color:#FFFFFF !important;background:#000000 !important;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-slider .owl-prev:hover{color:#000000 !important;background:#f6ce2b !important;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-slider .owl-next:hover{color:#000000 !important;background:#f6ce2b !important;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-posts-slider.layout-2 coneblog-slider .owl-prev{top:10px;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-posts-slider.layout-2 coneblog-slider .owl-next{top:10px;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-slider .owl-dot{background-color:#dddddd;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-slider .owl-dot:hover{background-color:#f6ce2b;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-slider .owl-dot.active{background-color:#f6ce2b !important;}.elementor-32 .elementor-element.elementor-element-011de6c .coneblog-slider .owl-dots{margin-top:10px;}.elementor-32 .elementor-element.elementor-element-802c8c3{margin-top:60px;margin-bottom:0px;padding:8px 0px 0px 0px;}.elementor-32 .elementor-element.elementor-element-bb9594d.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-32 .elementor-element.elementor-element-2cb648bc .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-32 .elementor-element.elementor-element-2cb648bc .aux-modern-heading-primary{font-size:15px;font-weight:400;line-height:21px;letter-spacing:1.88px;margin:0px 0px 0px 0px;}.elementor-32 .elementor-element.elementor-element-2cb648bc > .elementor-widget-container{margin:0px 0px 7px 0px;}.elementor-32 .elementor-element.elementor-element-32d6b6b9 > .elementor-widget-container{margin:21px 0px 0px 0px;}body.elementor-page-32:not(.elementor-motion-effects-element-type-background), body.elementor-page-32 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}@media(min-width:768px){.elementor-32 .elementor-element.elementor-element-180a10a8{width:73.2%;}.elementor-32 .elementor-element.elementor-element-73ef4fdd{width:26.8%;}}@media(max-width:1024px) and (min-width:768px){.elementor-32 .elementor-element.elementor-element-180a10a8{width:100%;}.elementor-32 .elementor-element.elementor-element-73ef4fdd{width:100%;}}/* Start custom CSS for aux_modern_heading, class: .elementor-element-2cb648bc */.elementor-32 .elementor-element.elementor-element-2cb648bc .aux-modern-heading-primary {
    position: relative;
    display: inline-block
}

.elementor-32 .elementor-element.elementor-element-2cb648bc .aux-modern-heading-primary:after,
.elementor-32 .elementor-element.elementor-element-2cb648bc .aux-modern-heading-primary:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 26px;
    background-color: rgba(0, 0, 0, 0.3);
    top: 50%;
    transform: translateY(-50%);
}

.elementor-32 .elementor-element.elementor-element-2cb648bc .aux-modern-heading-primary:after {
    right: -38px;
}
.elementor-32 .elementor-element.elementor-element-2cb648bc .aux-modern-heading-primary:before {
    left: -38px;
}/* End custom CSS */
/* Start custom CSS for wp-widget-aux_popular_posts_widget, class: .elementor-element-32d6b6b9 */.elementor-32 .elementor-element.elementor-element-32d6b6b9 .entry-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

.elementor-32 .elementor-element.elementor-element-32d6b6b9 .entry-header {
    margin-bottom: 10px;
}
.elementor-32 .elementor-element.elementor-element-32d6b6b9 .entry-content time {
   color: rgba(0, 0, 0, 0.6);
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    font-style: normal;
    letter-spacing: 1.68px;
    text-transform: uppercase;
}
.elementor-32 .elementor-element.elementor-element-32d6b6b9 .entry-content:before {
   display: none !important;
}

.elementor-32 .elementor-element.elementor-element-32d6b6b9 .entry-media {
    float: none;
    margin-bottom: 0;
    margin-right: 23px;
}

.elementor-32 .elementor-element.elementor-element-32d6b6b9 .media-land {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.elementor-32 .elementor-element.elementor-element-32d6b6b9 .entry-header {
    margin-bottom: 10px;
}

.elementor-32 .elementor-element.elementor-element-32d6b6b9 .entry-media img {
    border-radius: 5px;
}

.elementor-32 .elementor-element.elementor-element-32d6b6b9 .entry-content {
    margin-bottom: 0;
}

.elementor-32 .elementor-element.elementor-element-32d6b6b9 .entry-info {
    margin-bottom: 0;
    text-align: left;
}

.elementor-32 .elementor-element.elementor-element-32d6b6b9 .entry-title:hover a {
    color: #E63F96;
}/* End custom CSS */